html, body {
    /*overflow: hidden;*/
    margin: 0px;
    width: 100%;
    height: 100%;
    /*touch-action: none;*/
}

/*html {
    touch-action: none;
}*/

body {
    background-color: #000000;
    color: #ffffff;
    text-align:center;
}

td {
    text-align: center;
}

tr.head {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
}

tr.rise {
    background-color: #dddddd;
    color: #222222;
    padding: 5px;
}

tr.win:hover {
    background-color: #34d937;
}

tr.fall {
    background-color: #222222;
    color: #dddddd;
    padding: 5px;
}

tr.loss:hover {
    background-color: #f22e2e;
}

h3.donate {
    /*background: linear-gradient(to bottom,#38abfb, #0f77be);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    color: transparent;*/
    color: #cf38fb;
    opacity: 1;
    font-family: "楷体","楷体_GB2312";
    white-space: pre;
    display: inline;
}

h2.donate {
    /*background: linear-gradient(to bottom,#38abfb, #0f77be);
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    color: transparent;*/
    color: #cf38fb;
    opacity: 1;
    font-family: "楷体","楷体_GB2312";
    white-space: pre;
    display: inline;
}

a:link {
    text-decoration: underline;
    color: #5c90ef;
    font-weight: bold;
}

a.rise:link {
    color: #dddddd;
}

a.fall:link {
    color: #222222;
}

a:visited {
    color: #8962d8;
    text-decoration: none;
    font-weight: bold;
}

a.rise:visited {
    color: #bbbbbb;
}

a.fall:visited {
    color: #444444;
}

a:hover {
    text-decoration: underline;
    color: #8fbbf5;
    font-weight: bold;
}

a.rise:hover {
    color: #ffffff;
}

a.fall:hover {
    color: #000000;
}

div.fixed_div {
    position: fixed;
    z-index: 2008;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    background: transparent;
    pointer-events: none;
}

.virtual_body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}

div.d3chart {
    background: #000000;
    color: white;
    width: 100%;
    /*padding-bottom: 50%;*/
    height: 600px;
    fill: #fff;
}

/*#pricesvgchart .price {
    fill: Turquoise;
}

#pricesvgchart .balance {
    fill: DeepPink;
}*/

path.priceerea {
    /*    fill: Turquoise;
    stroke: #ff5017;*/
    fill: rgba(255,255,255,0.1);
    stroke: rgba(255,255,255,0.8);
    /*    fill-opacity: 0.5*/
}

text.pricetext,
#pricesvgchart .price
{
    /*    fill: Turquoise;
    stroke: #ff5017;*/
    fill: rgba(255,255,255,1.0);
    color: rgba(255,255,255,0.8);
    /*    fill-opacity: 0.5*/
}

path.priceerea,
path.balanceerea {
    stroke-width: 3;
}

path.balanceerea {
    /*    fill: DeepPink;*/
    fill: rgba(132, 119, 226, 0.5);
    stroke: rgba(132, 119, 226, 0.9);
    /*    fill-opacity: 0.5;*/
}

text.balancetext,
#pricesvgchart .balance,
#simulationbalance {
    fill: rgb(132, 119, 226);
    color: rgb(132, 119, 226)
}

rect.profitbar,
#tooltipprofit {
    fill: rgba(25, 191, 214, 0.75);
    color: rgba(25, 191, 214, 1.0);
}

#tooltipdate,
#simulationdate {
    color: snow;
}


#tooltipdate,
#tooltipprice,
#tooltipbalance {
    color: snow;
    margin-left: 2px;
}

/*悬浮背景*/
#tooltipprofit {
    position: absolute;
    font-size: 115px;
    z-index: 100;
    opacity: 0.5
}


/*g.price {*/
    /*    fill: Turquoise;*/
    /*fill: rgba(255,255,255,0.8);
    fill-opacity: 1;
}

g.balance {*/
    /*    fill: DeepPink;*/
    /*fill: rgba(52, 30, 214, 1);
    fill-opacity: 1;
}*/

li {
    list-style-type: none;
}

.domain, .tick line {
    stroke: #48D1CC;
    stroke-width: 1;
}

.bar {
    border: 1px solid #0b3536;
    border-radius: 6px;
    fill: rgba(0, 152, 216, 1.00);
}

#bar .barText {
    fill: #f5faf8;
    font-weight: 500;
}

.container-top {
    height: 60px;
}

.container-bottom {
    height: 600px;
    overflow: hidden;
}

.container-top ul {
    height: 60px;
}

#tooltip {
    animation: fadein10 0.5s;
    background-color: transparent;
    opacity: 1;
    display: block
}

#simulationstate {
    width:100%;
    background-color: transparent;
    opacity: 1;
    text-align:center;
    display: block;
}

#simulationsymbol {
    color:#20B2AA;
    opacity: 0;
}

#simulationtitle {
    color:#7FFFAA;
    opacity: 0;
}

#simulationday {
    color:#40E0D0;
    opacity: 0;
}

#simulationdate {
    opacity: 0;
}

#simulationbalance {
    opacity: 0;
}

.hidewhensimulation {
    opacity: 1;
}

#tooltipline1 {
    animation: fadein06 0.5s;
    stroke: snow;
    opacity: 0.6;
    stroke-width: 5;
    display: block
}

#tooltipline2 {
    animation: fadein06 0.5s;
    stroke: snow;
    opacity: 0.6;
    stroke-width: 5;
    display: block
}

#tooltipline3 {
    animation: fadein06 0.5s;
    stroke: snow;
    opacity: 0.6;
    stroke-width: 5;
    display: block
}

#tooltipline4 {
    animation: fadein06 0.5s;
    stroke: snow;
    opacity: 0.6;
    stroke-width: 5;
    display: block
}

#tooltipline5 {
    animation: fadein06 0.5s;
    stroke: snow;
    opacity: 0.6;
    stroke-width: 5;
    display: block
}

@keyframes fadein10 {
    0% {
        opacity: 0;
        transform:translateY(20px);
        /*transform: translate(800px, 0)*/
    }

    100% {
        opacity: 1;
        transform:translateY(0px);
        /*transform: translate(0, 0)*/
    }
}

@keyframes fadein06 {
    0% {
        opacity: 0;
        transform:translateY(20px);
        /*transform: translate(800px, 0)*/
    }

    100% {
        opacity: 0.6;
        transform:translateY(0px);
        /*transform: translate(0, 0)*/
    }
}

@keyframes fadeout10 {
    0% {
        opacity: 1;
        transform:translateY(0px);
    }

    100% {
        opacity: 0;
        transform:translateY(-20px);
    }
}

@keyframes fadeout06 {
    0% {
        opacity: 0.6;
        transform:translateY(0px);
    }

    100% {
        opacity: 0;
        transform:translateY(-20px);
    }
}

.container-top ul li {
    float: left;
    width: 33%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.container-bottom ul {
    height: 600px;
    background-image: linear-gradient(to right,#FF00FF,#E066FF);
}

.container-bottom ul li {
    width: 100%;
    height: 600px;
    line-height: 600px;
    float: left;
    text-align: center;
    background: none;
}

.select {
    background-image: linear-gradient(to right,#000000,#000000);
    color: white;
}

.unselect {
    background-image: linear-gradient(to right,#48D1CC,#48D1CC);
    color: DarkSlateBlue;
}

div.search {
    padding: 30px 0;
}

form {
    position: relative;
    width: auto;
    margin: 0 auto;
    display: inline-block;
}

input, button {
    border: none;
    outline: none;
}

input {
    width: 100%;
    height: 52px;
    padding-left: 13px;
}

button {
    height: 52px;
    width: 52px;
    cursor: pointer;
    position: absolute;
}

/*搜索框7*/
.bar7 {
    /*background: #7BA7AB;*/
    background: #222222;
}

.bar7 form {
    height: 52px;
}

.bar7 input {
    width: 400px;
    border-radius: 42px;
    border: 2px solid #324B4E;
    background: #F9F0DA;
    transition: .3s linear;
    font-size: 0.8em;
    height: 4em;
    float: left;
    padding: 0 1em;
    /*transform: translateX(-50px);*/
}

.bar7 input:focus {
    width: 500px;
    /*transform: translateX(-50px);*/
}

.bar7 button {
    background: none;
    /*top: -1em;*/
    /*top: 0.5em;*/
    right: 1em;
    font-size:0.8em;
    float: left;
    position: absolute;
    /*transform: translateX(-50px);*/
}

.bar7 button:after {
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}

/*首页Logo样式*/
table.indextable img {
    animation: fadein10 3s;
    width: 10em;
    height: 10em;
}

/*首页的浮动信息框*/
table.floatindextable {
    animation: fadein10 0.75s;
    border: none;
    /*float: left;
    display: inline-block;*/
    margin-left: auto;
    margin-right: auto;
    width: 36em;
    height: 26em;
    table-layout: fixed;
}

/*首页的浮动信息框首行*/
table.floatindextable tr th {
    background-color: white;
    color: black;
    height: 3em;
}

    table.floatindextable tr th:hover {
        background-color: #34d937 !important;
    }

/*首页的浮动信息框次行*/
table.floatindextable tr + tr th {
    background-color: black;
    color: white;
    height: 3em;
}

/*table.floatindextable tr + tr th:hover {
    background-color: #13d30b !important;
}*/

/*首页的浮动信息框明细行*/
table.floatindextable tr td {
    height: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
}

/*首页的浮动信息框明细行文本*/
    table.floatindextable tr td > span {
        animation: fadein10 0.5s;
        /*滤镜：颜色反转*/
        /*filter: invert(100%);*/
        height: 6em;
        overflow: hidden;
        text-overflow: clip;
        /*white-space: nowrap;*/
    }

/*首页的浮动信息框明细行文本不换行*/
table.floatindextable tr td > span  p
{
    padding: 0px;
    margin: 0em;
    display: inline-block;
}

/*首页的浮动信息框--市场名*/
table.floatindextable td.symbol {
    width: 22em;
    font-size: 1em
}

/*首页的浮动信息框--预测*/
table.floatindextable td.predict {
    width: 7em
}

/*首页的浮动信息框--年化*/
table.floatindextable td.annualised {
    width: 7em
}

table.floatindextable tr:hover {
    background-color: #13d30b !important;
}

table.floatindextable tr:hover td {
    background-color: none !important;
}

table.floatindextable tr:hover th {
    background-color: none !important;
}

.Intro1 {
    animation: fadein06 1s;
    opacity: 0.6;
}

.Intro2 {
    animation: fadein06 2s;
    opacity: 0.6;
}

.Intro3 {
    animation: fadein06 3s;
    opacity: 0.6;
}

.Intro4 {
    animation: fadein06 4s;
    opacity: 0.6;
}

/*悬浮动画*/
.animationdiv {
    height: 600px;
    width: 600px;
    /*border: 2px solid #F00;*/
    border: none;
    position: absolute;
    left: 1vw;
    top: 100px;
    pointer-events: none;
}

/*悬浮动画画布*/
#itemaninationcanvas {
    height: 600px;
    width: 600px;
}

/*全屏动画*/
.fullscreenanimation {
    height: 100%;
    width: 100%;
    border: none;
    position: absolute;
    z-index: 1;
    left: 0vw;
    top: 0vh;
    pointer-events: none;
}

/*分页*/
.page-bar {
    /*margin: 40px auto;*/
    margin-top: 20px;
}

.page-bar ul, li {
    margin: 0px;
    padding: 0px;
}

.page-bar li {
    list-style: none;
    display: inline;
}

.page-bar li:first-child > a {
    margin-left: 0px
}

.page-bar a {
    border: 1px solid #505050;
    text-decoration: none;
    position: relative;
    /*float: left;*/
    display: inline;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #cdd6db;
    cursor: pointer;
    margin-right: 0px;
}

.page-bar a:hover {
    background-color: #505050;
    color: #fff;
}

.page-bar a.banclick {
    cursor: not-allowed;
}

.page-bar .active a {
    color: #000;
    cursor: default;
    background-color: #8ca8ff;
    border-color: #8ca8ff;
}

.page-bar i {
    font-style: normal;
    color: #8ca8ff;
    margin: 0px 4px;
    font-size: 12px;
}