<!DOCTYPE html>

<html lang="zh" xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--<title>预测线-Forcastline</title>-->
    <title>{{title}}</title>
    <script src="../js/vue.js"></script>
    <script src="../js/axios.min.js"></script>
    <link rel="icon" href="../Logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../Logo.ico" type="image/x-icon">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Index.css" type="text/css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a51dda48987e99d43feee9e0e9953ba0";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div id="vue_app" align="center">
        <div class="fixed_div" id="appDonate">
            <marquee scrollamount=10>
                <h3 class="donate" v-html="donatehtml"></h3>
            </marquee>
        </div>
        <div class="animationdiv">
            <canvas id="itemaninationcanvas">

            </canvas>
        </div>
        <!--<div class="fullscreenanimation">
            <canvas>
            </canvas>
        </div>-->
        <div>
            <div id="simulationstate" style="position:absolute;padding:5px; z-index:-1">
                <h2 id="simulationsymbol">{[market_type]}</h2>
                <h3 id="simulationtitle">AI模拟交易Simulated Trading</h3>
                <h3 id="simulationday">第1天Day 1</h3>
                <h3 id="simulationdate">2020-1-1</h3>
                <h3 id="simulationbalance">余额Balance￥1</h3>
            </div>
            <br>
            <h2 class="hidewhensimulation">
                <a href="{{market_type_ref}}">{{market_type}}</a>
            </h2>
            <h1 class="hidewhensimulation">{{market_name}}</h1>
            <h2 class="hidewhensimulation">{[market_prediction]}</h2>
            <!--实现多种交易系统的切换-->
            <table class="hidewhensimulation" id="SystemSwitcherTable" style="VISIBILITY:hidden">
                <tr>
                    <th :class="AISystemSwitcherClass"
                        v-on:mouseenter="AISystemSwitcherMouseenter"
                        v-on:mouseout="AISystemSwitcherMouseout"
                        v-on:click="AISystemSwitcherClick">
                        海龟六号AI交易系统
                        Turtle No.3 AI Trading System
                    </th>
                    <th :class="TurtleSystemSwitcherClass"
                        v-on:mouseenter="TurtleSystemSwitcherMouseenter"
                        v-on:mouseout="TurtleSystemSwitcherMouseout"
                        v-on:click="TurtleSystemSwitcherClick">
                        原版海龟交易系统
                        Original Turtle Trading System
                    </th>
                </tr>
            </table>
            <a href="../vue/index.htm">
                <img src="../logo.bmp" alt="预测线Forcastline" height="150px" width="150px">
             </a>
                <div class="search bar7">
                    <form action="/s" method="get">
                        <!--<label for="search">查找市场</label>-->
                        <input type="search" name="wd" id="search" placeholder="请输入市场名，例如：上证指数、黄金、比特币">
                        <button type="submit"></button>
                    </form>
                </div>
                <!--<h4 class="hidewhensimulation"><a href="donate.html">点击赞助AI纪元-预测线网站，您的名字将显示为弹幕。</a></h4>-->

                <div id="container">
                </div>
                <div id="tooltip" style="position:absolute;padding:5px;"></div>
                <div class="d3chart">
                    <svg id="pricesvgchart">

                    </svg>
                </div>

                <div align="center">
                    <h4 style="text-align:center">市场评分由<a href="https://mp.weixin.qq.com/s/DWcvnNTaQ5IWIYN_CeQ8rA">海龟六号AI</a>评估Market score assessed by AI：<a href="https://docs.qq.com/sheet/DWEFqRWV5c0ZTUW5y">点击添加市场Click to add markets</a></h4>
                    <h4 style="text-align:center"><a href="https://mp.weixin.qq.com/s/giZkEI_T7jY4nA8ABqf8XA">AI预测接口文档AI Prediction API Document</a></h4>
                    <table border="0" width="100%" id="MarketTable">
                        <tr class="head">
                            <th>日期Date</th>
                            <th v-show="isPC">开盘价Open</th>
                            <th v-show="isPC">最高价High</th>
                            <th v-show="isPC">最低价Low</th>
                            <th v-show="isPC"><b>当前价Current</b></th>
                            <th v-show="isPC">今日上涨Today</th>
                            <th v-show="isPC">操作Operation</th>
                            <th v-show="isPC">评分Score</th>
                            <th v-show="isPC">均幅ATR</th>
                            <th v-show="isPC">止损价StopPrice</th>
                            <th v-show="isPC">止损日期StopDate</th>
                            <th>收益Profit</th>
                            <th>余额Balance</th>
                        </tr>
                        <tr :class="item.Class" v-for="(item, itemindex) in tableitems"
                            @mouseover="drawItemAnimation(item, itemindex)"
                            @mouseout="clearItemAnimation(item, itemindex)">
                            <td>{[ item.Date ]}</td>
                            <td v-show="isPC">{[ item.Open ]}</td>
                            <td v-show="isPC">{[ item.High ]}</td>
                            <td v-show="isPC">{[ item.Low ]}</td>
                            <td v-show="isPC"><b>{[ item.Close ]}</b></td>
                            <td v-show="isPC">{[ item.Today ]}</td>
                            <td v-show="isPC">{[ item.Prediction ]}</td>
                            <td v-show="isPC">{[ item.Score ]}</td>
                            <td v-show="isPC">{[ item.ATR ]}</td>
                            <td v-show="isPC">{[ item.StopPrice ]}</td>
                            <td v-show="isPC">{[ item.StopDate ]}</td>
                            <td>{[ item.Profit ]}</td>
                            <td>{[ item.Balance ]}</td>
                        </tr>
                    </table>
                    <div>共{[pagetotal]}页</div>
                    <div class="page-bar">
                        <ul>
                            <li v-if="pageindex>1"><a v-on:click="pageindex--,pageClick()">上一页</a></li>
                            <li v-if="pageindex==1"><a class="banclick">上一页</a></li>
                            <li v-for="index in pageindexlist" v-bind:class="{ 'active' : pageindex == index}">
                                <a v-on:click="btnClick(index)">{[ index ]}</a>
                            </li>
                            <li v-if="pageindex!=pagetotal"><a v-on:click="pageindex++,pageClick()">下一页</a></li>
                            <li v-if="pageindex==pagetotal"><a class="banclick">下一页</a></li>
                        </ul>
                    </div>
                    <br>
                    <div id="footer">
                        <a href="donate.html">点击赞助AI纪元-预测线网站</a>
                        更新时间Updated Time: {{localtime}}（每60分钟更新一次Updated every 60 minutes）<br>
                        联系AI纪元-预测线：forcastline@163.com<br>
                        <a href="http://www.beian.miit.gov.cn/">京ICP备20013339号</a>
                    </div>
                </div>
            </div>
    <script src="../js/d3.min.js" charset="utf-8"></script>
    <script src='../js/common.js' charset="utf-8"></script>
    <script>
        var marketid = "{{ market_id }}"
    </script>
    <script src='../js/market.js' charset="utf-8"></script>
</body>
</html>