<!DOCTYPE html>

<html lang="zh" xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--<title>预测线-Forcastline</title>-->
    <title>{{title}}</title>
    <script src="../js/vue.js"></script>
    <script src="../js/axios.min.js"></script>
    <link rel="icon" href="../Logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../Logo.ico" type="image/x-icon">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Index.css" type="text/css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a51dda48987e99d43feee9e0e9953ba0";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div id="vue_app" align="center">
        <div class="fixed_div" id="appDonate">
            <marquee scrollamount=10>
                <h3 class="donate" v-html="donatehtml"></h3>
            </marquee>
        </div>
        <div class="animationdiv">
            <canvas id="itemaninationcanvas">

            </canvas>
        </div>
        <div class="fullscreenanimation">
            <canvas>
            </canvas>
        </div>
        <div>
            <div id="simulationstate" style="position:absolute;padding:5px; z-index:-1">
                <h2 id="simulationsymbol">{[market_type]}</h2>
                <h3 id="simulationtitle">AI模拟交易Simulated Trading</h3>
                <h3 id="simulationday">第1天Day 1</h3>
                <h3 id="simulationdate">2020-1-1</h3>
                <h3 id="simulationbalance">余额Balance￥1</h3>
            </div>
            <br>
            <h2 class="hidewhensimulation">
                <a href="{{market_type_ref}}">{{market_type}}</a>
            </h2>
            <h1 class="hidewhensimulation">{{market_name}}</h1>
            <h2 class="hidewhensimulation">{{market_prediction}}</h2>
            <h3 class="hidewhensimulation">更新时间Updated Time: {{localtime}}（每60分钟更新一次Updated every 60 minutes）</h3>

            <div class="search bar7">
                <form action="/s" method="get">
                    <!--<label for="search">查找市场</label>-->
                    <input type="search" name="wd" id="search" placeholder="请输入市场名，例如：上证指数、黄金">
                    <button type="submit"></button>
                </form>
            </div>
            <h4 class="hidewhensimulation"><a href="donate.html">点击赞助AI纪元-预测线网站，您的名字将显示为弹幕。</a></h4>

            <div id="container">
            </div>
            <div id="tooltip" style="position:absolute;padding:5px;"></div>
            <div class="d3chart">
                <svg id="pricesvgchart">

                </svg>
            </div>

            <div align="center">
                <h4 style="text-align:center">市场评分由<a href="https://mp.weixin.qq.com/s/DWcvnNTaQ5IWIYN_CeQ8rA">海龟三号AI</a>评估Market score assessed by AI：<a href="https://docs.qq.com/sheet/DWEFqRWV5c0ZTUW5y">点击添加市场Click to add markets</a></h4>
                <h4 style="text-align:center"><a href="https://mp.weixin.qq.com/s/giZkEI_T7jY4nA8ABqf8XA">AI预测接口文档AI Prediction API Document</a></h4>
                <table border="0" width="100%" id="MarketTable">
                    <tr class="head">
                        <th>日期Date</th>
                        <th>开盘价Open</th>
                        <th>最高价High</th>
                        <th>最低价Low</th>
                        <th><b>当前价Current</b></th>
                        <th>今日上涨Today</th>
                        <th>操作Operation</th>
                        <th>评分Score</th>
                        <th>均幅ATR</th>
                        <th>止损价StopPrice</th>
                        <th>止损日期StopDate</th>
                        <th>收益Profit</th>
                        <th>余额Balance</th>
                    </tr>
                    <tr :class="item.Class" v-for="(item, itemindex) in tableitems" 
                        @mouseover="drawItemAnimation(item, itemindex)" 
                        @mouseout="clearItemAnimation(item, itemindex)">
                        <td>{[ item.Date ]}</td>
                        <td>{[ item.Open ]}</td>
                        <td>{[ item.High ]}</td>
                        <td>{[ item.Low ]}</td>
                        <td><b>{[ item.Close ]}</b></td>
                        <td>{[ item.Today ]}</td>
                        <td>{[ item.Prediction ]}</td>
                        <td>{[ item.Score ]}</td>
                        <td>{[ item.ATR ]}</td>
                        <td>{[ item.StopPrice ]}</td>
                        <td>{[ item.StopDate ]}</td>
                        <td>{[ item.Profit ]}</td>
                        <td>{[ item.Balance ]}</td>
                    </tr>
                </table>
                <div class="page-bar">
                    <ul>
                        <li v-if="pageindex>1"><a v-on:click="pageindex--,pageClick()">上一页</a></li>
                        <li v-if="pageindex==1"><a class="banclick">上一页</a></li>
                        <li v-for="index in pageindexlist" v-bind:class="{ 'active' : pageindex == index}">
                            <a v-on:click="btnClick(index)">{[ index ]}</a>
                        </li>
                        <li v-if="pageindex!=pagetotal"><a v-on:click="pageindex++,pageClick()">下一页</a></li>
                        <li v-if="pageindex==pagetotal"><a class="banclick">下一页</a></li>
                        <li><a>共<i>{[pagetotal]}</i>页</a></li>
                    </ul>
                </div>
                <br>
                <div id="footer">联系AI纪元-预测线：forcastline@163.com</div>
                <div id="footer">京ICP备20013339号</div>
            </div>
        </div>
    </div>
    <script src="../js/d3.min.js" charset="utf-8"></script>
    <script src='../js/common.js' charset="utf-8"></script>
    <script>
        //读取m(market)参数
        //marketid = getQueryVariable("id")
        marketid = "{{ market_id }}"
        var g_market_name = "";
        var g_startdate = null;
        var g_data_tabs = null;
        var g_data_dict = null;

        window.onorientationchange = marketOrientationChange;
        window.onresize = marketOrientationChange;

        let canvasH = 600; //画布高度
        let canvasW = 600; //画布宽度
        let mouseDis = 50; //鼠标距离
        let longwidth = 1000;
        let shortwidth = 500;
        let buyStyle = 'rgba(200, 70, 50, 1)';
        let sellStyle = 'rgba(50, 200, 80, 1)';
        let bartextStyle = 'rgb(20, 20, 20, 1)';

        var vue_app = new Vue({
            el: '#vue_app',
            delimiters: ['{[', ']}'],
            data: {
                donatehtml: null,
                market_type: null,
                market_type_ref: null,
                market_name: null,
                market_prediction: null,
                localtime: null,
                tableitems: [],
                startdate: null,
                pagetotal: 1,
                pageindex: 1,
                pagesize: 100
            },
            updated() {

            },
            mounted() {
                this.callApi();
            },
            methods: {
                //分页
                btnClick: function (index) {//页码点击事件
                    if (index != this.pageindex) {
                        this.pageindex = index
                    }
                    //根据点击页数请求数据
                    this.callApi();
                },
                pageClick: function () {
                    //根据点击页数请求数据
                    this.callApi();
                },
                callApi: function () {
                    axios
                        .get('/api/m?id=' + marketid + '&pageindex=' + this.pageindex.toString() + '&pagesize=' + this.pagesize.toString())
                        .then(response => {
                            //Title
                            document.title = response.data.title;
                            //Donate
                            this.donatehtml = response.data.donate;
                            //Market Type
                            this.market_type = response.data.market_type;
                            //Data Tabs
                            this.market_type_ref = response.data.market_type_ref;
                            //Market Name
                            g_market_name = this.market_name = response.data.market_name;
                            //Market Prediction
                            this.market_prediction = response.data.market_prediction;
                            //localtime
                            this.localtime = response.data.localtime;
                            //tableitems
                            this.tableitems = response.data.tableitems;
                            //Page Total
                            this.pagetotal = response.data.pagetotal;
                            //start date
                            g_startdate = this.startdate = response.data.startdate;
                            //Data tabs
                            g_data_tabs = response.data.price_list;
                            //Data Dict
                            g_data_dict = response.data.data_dict;

                            marketOrientationChange();
                            initanimation();
                            setTimeout("particleConnector()", "2000");
                            ////Make donate bar
                            //for (var i = 0; i < 3; i++) {
                            //    this.donates = this.donates.concat(this.donates)
                            //};
                            //for (var i = 0; i < this.donates.length; i++) {
                            //    this.donates[i] = "<span>" + this.donates[i] + "                                         </span>"
                            //}
                        })
                },
                //绘制动画（只有当鼠标指向的item改变时它才会动）
                drawItemAnimation: function (item, itemindex) {
                    drawItemFrame(item, itemindex, this.tableitems);
                },
                //清空动画
                clearItemAnimation: function (item, itemindex) {
                    clearItemFrame(item, itemindex, this.tableitems);
                    //let canvas = document.getElementById('itemaninationcanvas');
                    //let ctx = canvas.getContext('2d');
                    //ctx.clearRect(0, 0, canvas.width, canvas.height);  
                },
            },
            computed: {
                //分页
                pageindexlist: function () {
                    var left = 1;
                    var right = this.pagetotal;
                    var ar = [];
                    if (this.pagetotal >= 5) {
                        if (this.pageindex > 3 && this.pageindex < this.pagetotal - 2) {
                            left = this.pageindex - 2
                            right = this.pageindex + 2
                        } else {
                            if (this.pageindex <= 3) {
                                left = 1
                                right = 5
                            } else {
                                right = this.pagetotal
                                left = this.pagetotal - 4
                            }
                        }
                    }
                    while (left <= right) {
                        ar.push(left)
                        left++
                    }
                    return ar
                }
            }
        });
    </script>
</body>
</html>