<!DOCTYPE html>

<html lang="zh" xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="icon" href="../Logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../Logo.ico" type="image/x-icon">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Index.css" type="text/css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a51dda48987e99d43feee9e0e9953ba0";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div class="fixed_div">
        <marquee scrollamount=10>
            <h3 class="donate">{{donate}}</h3>
        </marquee>
    </div>
    <div class="virtual_body" align="center">
        <div>
            <div id="simulationstate" style="position:absolute;padding:5px; z-index:-1">
                <h2 id="simulationsymbol">{{market_type}}</h2>
                <h3 id="simulationtitle">AI模拟交易Simulated Trading</h3>
                <h3 id="simulationday">第1天Day 1</h3>
                <h3 id="simulationdate">2020-1-1</h3>
                <h3 id="simulationbalance">余额Balance￥1</h3>
            </div>
            <br>
            <h2 class="hidewhensimulation">
                <a href={{market_type_ref}}>{{market_type}}</a>
            </h2>
            <h1 class="hidewhensimulation">{{market_name}}</h1>
            <h2 class="hidewhensimulation">{{market_prediction}}</h2>
            <h3 class="hidewhensimulation">更新时间Updated Time: {{localtime}}（每60分钟更新一次Updated every 60 minutes）</h3>

            <div class="search bar7">
                <form action="/s" method="get">
                    <!--<label for="search">查找市场</label>-->
                    <input type="search" name="wd" id="search" placeholder="请输入市场名，例如：上证指数、黄金">
                    <button type="submit"></button>
                </form>
            </div>
            <h4 class="hidewhensimulation"><a href="../donate.html">点击赞助AI纪元-预测线网站，您的名字将显示为弹幕。</a></h4>

            <div id="container">
            </div>
            <div id="tooltip" style="position:absolute;padding:5px;"></div>
            <div class="wrap">
                <div class="container-top" id="list">
                    <ul>
                        <li class="select">30天 30Days</li>
                        <li>60天 60Days</li>
                        <li>120天 120Days</li>
                        <li>240天 240Days</li>
                        <li>全部 ALL</li>
                    </ul>
                </div>
                <div class="container-bottom" id="item">
                    <div class="container-tab" id="container-tab1">
                    </div>
                    <div class="container-tab" id="container-tab2">
                    </div>
                    <div class="container-tab" id="container-tab3">
                    </div>
                    <div class="container-tab" id="container-tab4">
                    </div>
                    <div class="container-tab" id="container-tab5">
                    </div>
                </div>
            </div>

            <div align="center">
                <h4>市场评分由<a href="https://mp.weixin.qq.com/s/DWcvnNTaQ5IWIYN_CeQ8rA">海龟三号AI</a>评估Market score assessed by AI：<a href="https://docs.qq.com/sheet/DWEFqRWV5c0ZTUW5y">点击添加市场Click to add markets</a></h4>
                <table border="0">
                    <tr class="head">
                        <th>日期Date</th>
                        <th>开盘价Open</th>
                        <th>最高价High</th>
                        <th>最低价Low</th>
                        <th><b>当前价Current</b></th>
                        <th>今日上涨Today</th>
                        <th>操作Operation</th>
                        <th>评分Score</th>
                        <th>均幅ATR</th>
                        <th>止损价StopPrice</th>
                        <th>止损日期StopDate</th>
                        <th>收益Profit</th>
                        <th>余额Balance</th>
                    </tr>
                    {% for item in body %}
                    <tr class={{ item.Class }}>
                        <td>{{ item.Date }}</td>
                        <td>{{ item.Open }}</td>
                        <td>{{ item.High }}</td>
                        <td>{{ item.Low }}</td>
                        <td><b>{{ item.Close }}</b></td>
                        <td>{{ item.Today }}</td>
                        <td>{{ item.Prediction }}</td>
                        <td>{{ item.Score }}</td>
                        <td>{{ item.ATR }}</td>
                        <td>{{ item.StopPrice }}</td>
                        <td>{{ item.StopDate }}</td>
                        <td>{{ item.Profit }}</td>
                        <td>{{ item.Balance }}</td>
                    </tr>
                    {% endfor%}
                </table>
                <div id="footer">联系AI纪元-预测线：forcastline@163.com</div>
                <div id="footer">京ICP备20013339号</div>
            </div>
        </div>
    </div>

    <script src="../js/d3.min.js" charset="utf-8"></script>
    <script>
        var tooltip;
        var tooltipLines = [];
        var simulationsymbol;
        var simulationtitle;
        var simulationday;
        var simulationdate;
        var simulationbalance;
        //var width = 600, height = 300,
        var width = document.body.clientWidth;
        var height = 600;
        var margin = { left: 100, top: 30, right: 100, bottom: 20 },
            g_width = width - margin.left - margin.right,
            g_height = height - margin.top - margin.bottom;
            //g_height = g_width / 2.0;

        tooltipLines = [];
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }

        var data_tabs = {{ price_list }}
        //var data_dict = new Array()
        var data_dict = {{ data_dict }}
        var scale_x_list = []
        var parseDate = d3.timeParse("%Y-%m-%d");
        var formatDate = d3.timeFormat("%Y-%m-%d");

        //循环添加TAB页面
        for (var tabindex = 1; tabindex <= 5; tabindex++)
        {

        //svg
        d3.select("#container-tab" + tabindex).append("svg")
            //width,height
            .attr("width", width)
            .attr("height", height)
            .attr("id", "svg-tab" + tabindex)

        var g = d3.select("#svg-tab" + tabindex)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        //var data = {"2020-05-28": 30.5, "2020-05-29": 30.4, 5, 6, 8, 9, 3, 5, 2]

        var data = data_tabs[tabindex - 1]


           //for (var d in data) {
           //    d.key = parseDate(d.key);
           //}
           data.forEach(function (d) {
               d.date = parseDate(d.date);
               d.close = +d.close;
               //d = parseDate(d)
           });
            if (tabindex == 5) {
                var startdate = data[0].date
            //    data.forEach(function (d) {
            //        data_dict[d.date] = d;
            //    });
            }
            //定义xy坐标轴的值域
            //var scale_x = d3.scaleLinear()
            var scale_x = d3.scaleTime()
                //.domain([0, data.length - 1])
                //.domain([d3.min(data[0]), d3.max(data[0])])
                //.domain([d3.min(data), d3.max(data)])
                .domain(d3.extent(data, function (d) { return d.date; }))
                .range([0, g_width]);
            scale_x_list.push(scale_x)
            //var scale_y = d3.scaleLinear()
            var scale_y = d3.scaleLog()
                //.exponent(2)
                //.domain([0, d3.max(data)])
                //.domain([d3.min(data[1]), d3.max(data[1])])
                //.domain([d3.min(data), d3.max(data)])
                .domain(d3.extent(data, function (d) { return d.close; }))
                .range([g_height, 0]);

            //var scale_balance = d3.scaleLinear()
            var scale_balance = d3.scaleLog()
                //.exponent(2)
                //.domain([0, d3.max(data)])
                //.domain([d3.min(data[1]), d3.max(data[1])])
                //.domain([d3.min(data), d3.max(data)])
                .domain(d3.extent(data, function (d) { return d.balance; }))
                .range([g_height, 0]);

            //画面积函数
            var area_generator= d3.area()
                .x(function (d,i) {
                    //return scale_x(i);
                    return scale_x(d.date);
                })
                .y0(g_height)
                .y1(function (d) {
                    //return scale_y(d);
                    return scale_y(d.close);
                })
                .curve(d3.curveMonotoneX)

            //画面积
            g.append("path")
                .attr("d", area_generator(data)) //d="M1,0L20,40.....  d-path data
                .attr("class","priceerea")
                //.style("fill","#ff5017")


            //画面积函数
            var balance_area_generator = d3.area()
                .x(function (d, i) {
                    //return scale_x(i);
                    return scale_x(d.date);
                })
                .y0(g_height)
                .y1(function (d) {
                    //return scale_y(d);
                    return scale_balance(d.balance);
                })
                .curve(d3.curveMonotoneX)

            //画面积
            g.append("path")
                .attr("d", balance_area_generator(data)) //d="M1,0L20,40.....  d-path data
                .attr("class", "balanceerea")
                //.style("fill","#ff5017")

            ////画线模板函数
            //var line_generator = d3.line()
            //    .x(function (d, i) {
            //        //return scale_x(i);
            //        return scale_x(d.date);
            //    })
            //    .y(function (d) {
            //        //return scale_y(d);
            //        return scale_y(d.close);
            //    })
            //    .curve(d3.curveMonotoneX)
            //// .curve(d3.curveMonotoneX) // apply smoothing to the line
            //
            ////画路径
            //g.append("path")
            //    .attr("d", line_generator(data)) //d="M1,0L20,40.....  d-path data

            //定义X轴
            var xAxis = d3.axisBottom(scale_x)
                //.tickFormat(d3.time.format("%Y-%m-%d"))
                .tickFormat(d3.timeFormat("%Y-%m-%d"))

            //显示X轴
            g.append("g")
                .call(d3.axisBottom(scale_x))
                .attr("transform", "translate(0," + g_height + ")")
                .attr("fill","#48D1CC")

            //Y轴
            g.append("g")
                .call(d3.axisLeft(scale_y))
                .attr("class","price")

            //Y轴
            g.append("g")
                .call(d3.axisRight(scale_balance))
                .attr("transform", "translate(" + g_width + ",0)")
                .attr("class","balance")

            //y轴文字
            g.append("text")
                .text("价格Price")
                .attr("transform", "rotate(-90)")
                .attr("fill","Turquoise")
                .attr("dy", "1em")
                .attr("text-anchor", "end")

            //y轴文字
            g.append("text")
                .text("余额Balance")
                .attr("transform", "translate(" + (g_width - 20) + ",0) rotate(-90)")
                .attr("dy", "1em")
                .attr("fill","LightSkyBlue")
                .attr("text-anchor", "end")

            tooltip = d3.select('#tooltip');
            tooltipLine = g.append('line').attr('id', 'tooltipline' + tabindex);
            tooltipLines.push(tooltipLine);
            //tooltipLine                 = g.select('#tooltipline');
            simulationsymbol     = d3.select('#simulationsymbol');
            simulationtitle           = d3.select('#simulationtitle');
            simulationday           = d3.select('#simulationday');
            simulationdate          = d3.select('#simulationdate');
            simulationbalance    = d3.select('#simulationbalance');

            //ToolTip Begin
            // Load the data and draw a chart
            let states, tipBox;

            tipBox = g.append('rect')
                .attr('width', g_width)
                .attr('height', g_height)
                .attr('opacity', 0)
                .datum(tabindex)
                .on('mousemove', drawTooltip_mouse)
                .on('mouseout', removeTooltip)
                .on('touchmove', drawTooltip_touch)
                .on('touchstart', drawTooltip_touch)
                .on('touchend', removeTooltip);
            //if (tabindex == 1) {
            //    draw_date_tooltip(data, data_tabs[0][14].date, width / 2, height)
            //}

            // 非递归二分查找
            function binary_search(arr, key) {
                var low = 0,
                    high = arr.length - 1;
                while (low <= high) {
                    var mid = parseInt((high + low) / 2);
                    if (Math.abs(key - arr[mid].date) / 1000 < 86400) {
                        return mid;
                    } else if (key > arr[mid].date) {
                        low = mid + 1;
                    } else if (key < arr[mid].date) {
                        high = mid - 1;
                    } else {
                        return -1;
                    }
                }
            };

            //function dateFormat(fmt, date) {
            //    let ret;
            //    const opt = {
            //        "Y+": date.getFullYear().toString(),        // 年
            //        "m+": (date.getMonth() + 1).toString(),     // 月
            //        "d+": date.getDate().toString(),            // 日
            //        "H+": date.getHours().toString(),           // 时
            //        "M+": date.getMinutes().toString(),         // 分
            //        "S+": date.getSeconds().toString()          // 秒
            //        // 有其他格式化字符需求可以继续添加，必须转化成字符串
            //    };
            //    for (let k in opt) {
            //        ret = new RegExp("(" + k + ")").exec(fmt);
            //        if (ret) {
            //            fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")))
            //        };
            //    };
            //    return fmt;
            //}

            function removeTooltip(tabindex) {
                //if (tooltip) tooltip.style('display', 'none')
                //if (tooltipLine) tooltipLine.attr('stroke', 'none');
                //if (tooltipLine) tooltipLine.style('display', 'none');
               //d3.select("h3.hidewhensimulation")
               //    .html("更新时间Updated Time: {{ localtime }} 每60分钟更新一次Updated every 60 minutes）")
               //d3.select("h4.hidewhensimulation")
               //    .html("<a href='../ donate.html'>点击赞助AI纪元-预测线网站，您的名字将显示为弹幕。</a>")

                if (tooltip) tooltip.style('animation', 'fadeout10 0.5s')
                    .style('opacity', 0);
                //if (tooltipLine) tooltipLine.attr('stroke', 'none');
                if (tooltipLines[tabindex - 1])
                    tooltipLines[tabindex - 1]
                        .style('animation', 'fadeout06 0.5s')
                    .style('opacity', 0);
                if (simulationsymbol)
                    simulationsymbol.style('opacity', 0)
                    .style('animation', 'fadeout10 0.5s');
                if (simulationtitle)
                    simulationtitle.style('opacity', 0)
                        .style('animation', 'fadeout10 0.5s');
                if (simulationday)
                    simulationday.style('opacity', 0)
                        .style('animation', 'fadeout10 0.5s');
                if (simulationdate)
                    simulationdate.style('opacity', 0)
                        .style('animation', 'fadeout10 0.5s');
                if (simulationbalance)
                    simulationbalance.style('opacity', 0)
                        .style('animation', 'fadeout10 0.5s');

                d3.selectAll("h1.hidewhensimulation")
                    .style('opacity', 1)
                    .style('animation', 'fadeoin10 0.5s')
                d3.selectAll("h2.hidewhensimulation")
                    .style('opacity', 1)
                    .style('animation', 'fadeoin10 0.5s')
                d3.selectAll("h3.hidewhensimulation")
                    .style('opacity', 1)
                    .style('animation', 'fadeoin10 0.5s')
                d3.selectAll("h4.hidewhensimulation")
                    .style('opacity', 1)
                    .style('animation', 'fadeoin10 0.5s')

            }

            function draw_date_tooltip(data, date, pageX, pageY, scale_X, tabindex) {

                //var seldata = data.find(d => Math.abs(d.date - date) / 1000 < 86400)
                //var dateindex = binary_search(data, date)
                //if (dateindex < 0)
                //    return;
                //var seldata = data[dateindex]
                var seldata = data_dict[date]

                //data.sort((a, b) => {
                //    return b.find(h => h.date == date).population - a.find(h => h.date == date).population;
                //})
                if (!seldata) return

                seldate = parseDate(seldata.date)
                dayindex = (seldate - startdate) / (1000 * 60 * 60 * 24);

                //d3.select("h3.hidewhensimulation")
                //    .text(seldata.date + " 第" + dayindex + "天 Day " + dayindex)
                //
                //d3.select("h4.hidewhensimulation")
                //    .text("余额Balance: $" + Math.round(seldata.balance * 100) / 100)

                scaleX = scale_X(seldate)
                tooltipLines[tabindex - 1]
                    .style('animation', 'fadein06 0.5s')
                    .style('opacity', 0.6)
                    //.style('display','block')
                    .attr('x1', scaleX)
                    .attr('x2', scaleX)
                    .attr('y1', 0)
                    .attr('y2', g_height);

                tooltip.html('<h3 id="tooltipdate" align="left" >日期Date:' + seldata.date + '</h3><h3 id="tooltipprice" align="left">价格Price:' + seldata.close + '</h3><h3 id="tooltipbalance" align="left">余额Balance:' + Math.round(seldata.balance * 100) / 100 + '</h3>')
                    .style('animation', 'fadein10 0.5s')
                    .style('opacity', 1)
                    //.style('left', d3.event.pageX + 20 + 'px')
                    .style('left', pageX < width / 2 ? scaleX + 150 + 'px' : scaleX - 150 + 'px')
                    .style('top', pageY - 200 + 'px')
                    .selectAll()
                //.data(seldata).enter()

                simulationsymbol.text("{{ market_name }}").style('opacity', 1)
                    .style('animation', 'fadeoin10 0.5s')
                simulationtitle.text("AI模拟交易 AI Simulate Trading").style('opacity', 1)
                    .style('animation', 'fadeoin10 0.5s')
                simulationday.text("第" + dayindex + "天 Day " + dayindex).style('opacity', 1)
                    .style('animation', 'fadeoin10 0.5s')
                simulationdate.text("" + seldata.date).style('opacity', 1)
                    .style('animation', 'fadeoin10 0.5s')
                simulationbalance.text("余额Balance:$" + Math.round(seldata.balance * 100) / 100).style('opacity', 1)
                    .style('animation', 'fadeoin10 0.5s')

                d3.selectAll("h1.hidewhensimulation")
                    .style('animation', 'fadeout10 0.5s')
                    .style('opacity', 0)
                d3.selectAll("h2.hidewhensimulation")
                    .style('animation', 'fadeout10 0.5s')
                    .style('opacity', 0)
                d3.selectAll("h3.hidewhensimulation")
                    .style('animation', 'fadeout10 0.5s')
                    .style('opacity', 0)
                d3.selectAll("h4.hidewhensimulation")
                    .style('animation', 'fadeout10 0.5s')
                    .style('opacity', 0)


            }

            function drawTooltip_mouse(d, i) {

                //const date = Math.floor((scale_x.invert(d3.mouse(tipBox.node())[0]) + data.length/2) / data.length);

                tabindex = d

                data = data_tabs[tabindex-1]

                const date = scale_x_list[tabindex-1].invert(d3.mouse(tipBox.node())[0]);

                var scale_X = scale_x_list[tabindex - 1]

                draw_date_tooltip(data, formatDate(date), d3.event.pageX, d3.event.pageY, scale_X, tabindex)
            }

            function drawTooltip_touch(d, i) {

                d3.event.preventDefault();
                d3.event.stopPropagation();

                tabindex = d

                data = data_tabs[tabindex - 1]

                var touchpoint = d3.touches(this)[0]
                var pagex = d3.event.changedTouches[0].pageX
                var pagey = d3.event.changedTouches[0].pageY
                var scale_date = scale_x_list[tabindex - 1]

                var date = scale_date.invert(touchpoint[0]);

                var scale_X = scale_x_list[tabindex - 1]


                draw_date_tooltip(data, formatDate(date), pagex, pagey, scale_X, tabindex)
            }
        }

        function $(id) {
            return typeof id === "string" ? document.getElementById(id) : document;
        }

        window.onload = function () {
            //初始化计时器;
            var timer = null;
            //初始化索引;
            var index = -1;
            var items = $("list").getElementsByTagName("li");
            var divs = $("item").getElementsByTagName("div");

            //循环遍历标题名和内容盒子;
            for (var i = 0, len = items.length; i < len; i++) {
                items[i].id = i;
                items[i].onmouseover = switchbox;
                items[i].ontouchstart = switchbox;
            }

            function switchbox() {
                for (var j = 0, len = items.length; j < len; j++) {
                    items[j].className = "";
                    divs[j].style.display = "none";
                }
                this.className = "select";
                divs[this.id].style.display = "block";
            }

        }

    </script>
</body>
</html>