<!DOCTYPE html>

<html lang="zh" xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="icon" href="Logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="Logo.ico" type="image/x-icon">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="Index.css" type="text/css">
    <script src='/js/common.js'></script>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?a51dda48987e99d43feee9e0e9953ba0";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <div class="fixed_div" id="appDonate">
        <!--<ul>
            <li class="donateLi" v-for="donate in donates" v-html="donate" />
        </ul>-->
        <marquee scrollamount=10>
            <h3 class="donate">{{donate}}</h3>
        </marquee>
    </div>
    <div class="fullscreenanimation">
        <canvas>
        </canvas>
    </div>
    <div class="virtual_body" align="center">
        <div>
            <br>
            <h1>{{market_wd}}</h1>
            <h3>更新时间Updated Time: {{localtime}}（每60分钟更新一次Updated every 60 minutes）</h3>
            <h2><a href="donate.html">点击赞助AI纪元-预测线网站，您的名字将显示为弹幕。</a></h2>
            <!--<iframe src="" frameborder="0" name="iframeContent" style="display: none;"></iframe>-->
            <!--<form action="/api/search" method="get" target="iframeContent">-->

            <a href="vue/index.htm">
                <img src="logo.bmp" alt="预测线Forcastline" height="150px" width="150px">
            </a>
            <div class="search bar7">
                <form action="/s" method="get">
                    <!--<label for="search">查找市场</label>-->
                    <input type="search" name="wd" id="search" placeholder="请输入市场名，例如：上证指数、黄金">
                    <button type="submit"></button>
                </form>
            </div>
            <h4 style="text-align:center">市场评分由<a href="https://mp.weixin.qq.com/s/DWcvnNTaQ5IWIYN_CeQ8rA">海龟三号AI</a>评估Market score assessed by AI：<a href="https://docs.qq.com/sheet/DWEFqRWV5c0ZTUW5y">点击添加市场Click to add markets</a></h4>
            <h4 style="text-align:center"><a href="https://mp.weixin.qq.com/s/giZkEI_T7jY4nA8ABqf8XA">AI预测接口文档AI Prediction API Document</a></h4>
            <table border="0" width="100%">
                <tr class="head">
                    <th>市场Market</th>
                    <!--<th>预测Prediction</th>
                    <th>评分Score</th>-->
                    <th>年化收益Annualised</th>
                </tr>
                {% for item in body %}
                <tr class="{{ item.Class }}" onclick="location.href='{{ item.Symbol }}'">
                    <td>{{ item.Market }}</td>
                    <!--<td>{{ item.Side }}</td>
                    <td>{{ item.Score }}</td>-->
                    <td>{{ item.Annualised }}</td>
                </tr>
                {% endfor%}
            </table>
            <div id="footer">联系AI纪元-预测线：forcastline@163.com</div>
            <div id="footer"><a href="http://www.beian.miit.gov.cn/">京ICP备20013339号</a></div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-latest.js"></script>
    <script>
        setTimeout("particleConnector()", "2000");
                //$("iframe[name=iframeContent]").on("load", function () {
                //    var responseText = $("iframe")[0].contentDocument.body.getElementsByTagName("pre")[0].innerHTML;
                //    alert(responseText);
                //    //以下就可以判断并处理返回值
                //})
    </script>
</body>
</html>