<!DOCTYPE html>

<html lang="zh" xmlns="https://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>预测线-Forcastline</title>
    <script src="../js/vue.js"></script>
    <script src="../js/axios.min.js"></script>
    <link rel="icon" href="../Logo.ico" type="image/x-icon">
    <link rel="shortcut icon" href="Logo.ico" type="image/x-icon">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Index.css" type="text/css">
</head>
<body>
    <!--<body onload="init()">-->
    <div id="vue_app">
        <div class="fixed_div" id="appDonate">
            <!--<ul>
            <li class="donateLi" v-for="donate in donates" v-html="donate" />
        </ul>-->
            <marquee scrollamount=10>
                <h3 class="donate" v-for="donate in donates" v-html="donate"></h3>
            </marquee>
        </div>
        <div class="fullscreenanimation">
            <canvas>
            </canvas>
        </div>
        <div align="center">
            <table height="100%" width="100%" class="indextable">
                <tr height="60px">
                    <td colspan="2"></td>
                </tr>
                <tr height="100px">
                    <td colspan="2"><img src="../logo.bmp" alt="预测线Forcastline"></td>
                </tr>
                <tr height="160px">
                    <!--<iframe src="" frameborder="0" name="iframeContent" style="display: none;"></iframe>-->
                    <!--<form action="/s" method="get" target="iframeContent">-->
                    <td colspan="2">
                        <div class="search bar7">
                            <form action="/s" method="get">
                                <!--<label for="search">查找市场</label>-->
                                <input type="search" name="wd" id="search" placeholder="请输入市场名，例如：上证指数、黄金">
                                <button type="submit"></button>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr height="2em">
                    <td colspan="2">
                        <h4 class="Intro1">海龟三号交易系统正在等待一次超级行情</h4>
                        <h4 class="Intro1">Turtle No.3 trading system is waiting for a super market.</h4>
                    </td>
                </tr>
                <tr height="2em">
                    <td colspan="2">
                        <h4 class="Intro2">暴涨百倍或者下跌99%</h4>
                        <h4 class="Intro2">Soaring 100 times or falling 99%</h4>
                    </td>
                </tr>
                <tr height="2em">
                    <td colspan="2">
                        <h4 class="Intro3">在风暴中，它将亏损锁定在1%，并让利润狂奔</h4>
                        <h4 class="Intro3">In the storm, it locks in losses at 1% and lets profits run wild</h4>
                    </td>
                </tr>
                <tr height="2em">
                    <td colspan="2">
                        <h4 class="Intro4">你愿意与它一起迎接暴风雨的到来吗？</h4>
                        <h4 class="Intro4">Would you like to welcome the storm with it?</h4>
                    </td>
                </tr>
            </table>
            <div style="width:100%;text-align: center">
                <table class="floatindextable" onclick="location.href='../crypto.html'">
                    <tr>
                        <th colspan="3">
                            加密货币Crypto
                        </th>
                    </tr>
                    <tr>
                        <th class="symbol">
                            市场名Symbol
                        </th>
                        <th class="predict">
                            预测Predict
                        </th>
                        <th class="annualised">
                            年化Annualised
                        </th>
                    </tr>
                    <tr v-for="market in cryptoMarkets" :style="{'background-color': market.BgColor, 'color': market.Color}" :class="market.Class">
                        <td class="symbol" v-html="market.Market">
                        </td>
                        <td class="predict" v-html="market.Side">
                        </td>
                        <td class="annualised" v-html="market.Annualised">
                        </td>
                    </tr>
                </table>
                <table class="floatindextable" onclick="location.href='../currencies.html'">
                    <tr>
                        <th colspan="3">
                            外汇Currency
                        </th>
                    </tr>
                    <tr>
                        <th class="symbol">
                            市场名Symbol
                        </th>
                        <th class="predict">
                            预测Predict
                        </th>
                        <th class="annualised">
                            年化Annualised
                        </th>
                    </tr>
                    <tr v-for="market in currencyMarkets" :style="{'background-color': market.BgColor, 'color': market.Color}" :class="market.Class">
                        <td class="symbol" v-html="market.Market">
                        </td>
                        <td class="predict" v-html="market.Side">
                        </td>
                        <td class="annualised" v-html="market.Annualised">
                        </td>
                    </tr>
                </table>
                <table class="floatindextable" onclick="location.href='../indices.html'">
                    <tr>
                        <th colspan="3">
                            全球股指Indices
                        </th>
                    </tr>
                    <tr>
                        <th class="symbol">
                            市场名Symbol
                        </th>
                        <th class="predict">
                            预测Predict
                        </th>
                        <th class="annualised">
                            年化Annualised
                        </th>
                    </tr>
                    <tr v-for="market in indicesMarkets" :style="{'background-color': market.BgColor, 'color': market.Color}" :class="market.Class">
                        <td class="symbol" v-html="market.Market">
                        </td>
                        <td class="predict" v-html="market.Side">
                        </td>
                        <td class="annualised" v-html="market.Annualised">
                        </td>
                    </tr>
                </table>
                <table class="floatindextable" onclick="location.href='../commodities.html'">
                    <tr>
                        <th colspan="3">
                            商品期货Commodities
                        </th>
                    </tr>
                    <tr>
                        <th class="symbol">
                            市场名Symbol
                        </th>
                        <th class="predict">
                            预测Predict
                        </th>
                        <th class="annualised">
                            年化Annualised
                        </th>
                    </tr>
                    <tr v-for="market in commodiesMarkets" :style="{'background-color': market.BgColor, 'color': market.Color}" :class="market.Class">
                        <td class="symbol" v-html="market.Market">
                        </td>
                        <td class="predict" v-html="market.Side">
                        </td>
                        <td class="annualised" v-html="market.Annualised">
                        </td>
                    </tr>
                </table>
                <table class="floatindextable" onclick="location.href='../stocks.html'">
                    <tr>
                        <th colspan="3">
                            中国股票CN Stocks
                        </th>
                    </tr>
                    <tr>
                        <th class="symbol">
                            市场名Symbol
                        </th>
                        <th class="predict">
                            预测Predict
                        </th>
                        <th class="annualised">
                            年化Annualised
                        </th>
                    </tr>
                    <tr v-for="market in stocksCNMarkets" :style="{'background-color': market.BgColor, 'color': market.Color}" :class="market.Class">
                        <td class="symbol" v-html="market.Market">
                        </td>
                        <td class="predict" v-html="market.Side">
                        </td>
                        <td class="annualised" v-html="market.Annualised">
                        </td>
                    </tr>
                </table>
                <table class="floatindextable" onclick="location.href='../stocksUS.html'">
                    <tr>
                        <th colspan="3">
                            美国股票US Stocks
                        </th>
                    </tr>
                    <tr>
                        <th class="symbol">
                            市场名Symbol
                        </th>
                        <th class="predict">
                            预测Predict
                        </th>
                        <th class="annualised">
                            年化Annualised
                        </th>
                    </tr>
                    <tr v-for="market in stocksUSMarkets" :style="{'background-color': market.BgColor, 'color': market.Color}" :class="market.Class">
                        <td class="symbol" v-html="market.Market">
                        </td>
                        <td class="predict" v-html="market.Side">
                        </td>
                        <td class="annualised" v-html="market.Annualised">
                        </td>
                    </tr>
                </table>
                <table class="floatindextable" onclick="location.href='../stocksHK.html'">
                    <tr>
                        <th colspan="3">
                            香港股票HK Stocks
                        </th>
                    </tr>
                    <tr>
                        <th class="symbol">
                            市场名Symbol
                        </th>
                        <th class="predict">
                            预测Predict
                        </th>
                        <th class="annualised">
                            年化Annualised
                        </th>
                    </tr>
                    <tr v-for="market in stocksHKMarkets" :style="{'background-color': market.BgColor, 'color': market.Color}" :class="market.Class">
                        <td class="symbol" v-html="market.Market">
                        </td>
                        <td class="predict" v-html="market.Side">
                        </td>
                        <td class="annualised" v-html="market.Annualised">
                        </td>
                    </tr>
                </table>
                <h4 style="text-align:center">市场评分由<a href="https://mp.weixin.qq.com/s/DWcvnNTaQ5IWIYN_CeQ8rA">海龟三号AI</a>评估Market score assessed by AI：<a href="https://docs.qq.com/sheet/DWEFqRWV5c0ZTUW5y">点击添加市场Click to add markets</a></h4>
                <h4 style="text-align:center"><a href="https://mp.weixin.qq.com/s/giZkEI_T7jY4nA8ABqf8XA">AI预测接口文档AI Prediction API Document</a></h4>
                <h4><a href="../donate.html">点击赞助AI纪元-预测线网站，您的名字将显示为弹幕。</a></h4>
                <div id="footer">联系AI纪元-预测线：forcastline@163.com</div>
                <div id="footer">京ICP备20013339号</div>
            </div>
        </div>
    </div>
    <!--我是优雅的分界线，上面是Vue的界面下面是Vue的数据-->
    <script src='../js/common.js' charset="utf-8"></script>
    <script>
        //import axios from 'axios';
        //读取l(list)参数
        listname = getQueryVariable("l")

        var vue_app = new Vue({
            el: '#vue_app',
            data: {
                //donates: [
                //    "                           冯*俊 赞助10元 2020年5月23日",
                //    "                           刘*超 赞助200元 2020年5月23日",
                //    "                           张*勇 赞助50元 2020年5月25日",
                //    "                           熊*添 赞助1000元 2020年5月23日",
                //    "                           秦汉 赞助100元 2020年5月25日",
                //    "                           赵磊 赞助12.34元 2020年5月25日",
                //    "                           于*万 赞助1元 2020年5月25日",
                //    "                           徐坚 赞助8.88元 2020年5月29日",
                //],
                donates: [],
                market_type: "加密货币",
                market_ref: "crypto.html",
                market_ref2: "currencies.html",
                market_type2: "外汇",
                market_ref3: "indices.html",
                market_type3: "全球股指",
                market_ref4: "commodities.html",
                market_type4: "商品期货",
                market_ref5: "stocks.html",
                market_type5: "股票",
                market_ref6: "stocksUS.html",
                market_type6: "美国股票",
                market_ref7: "stocksHK.html",
                market_type7: "香港股票",
                localtime: "2020-06-20 20:00:00",
                markets: [{
                    Class: "rise", ItemNo: 1, Market: "BTC", Symbol: "BTC.html", Side: "即将上涨", Score: 71.21, Date: "2020-06-20", Open: 9200, High: 9300, Low: 9100, Close: 9210, Volume: 10234, Rise: "0%", Annualised: "100%"
                }, {
                    Class: "fall", ItemNo: 2, Market: "ETH", Symbol: "ETH.html", Side: "即将下跌", Score: 35.28, Date: "2020-06-20", Open: 230, High: 240, Low: 228, Close: 234, Volume: 731270, Rise: "0%", Annualised: "80%"
                }],
                cryptoMarkets: [
                    //{
                    //    Color: "#31ff88", Market: "BTC", Side: "即将上涨", Annualised: "100.00%"
                    //}, {
                    //    Color: "#bb2244", Market: "ETH", Side: "即将下跌", Annualised: "100.00%"
                    //}, {
                    //    Color: "#22886f", Market: "XRP", Side: "即将上涨", Annualised: "100.00%"
                    //},
                ],
                currencyMarkets: [
                    //{
                    //    Color: "#31ff88", Market: "EUR", Side: "即将上涨", Annualised: "100.00%"
                    //}, {
                    //    Color: "#bb2244", Market: "JPY", Side: "即将下跌", Annualised: "100.00%"
                    //}, {
                    //    Color: "#22886f", Market: "GBP", Side: "即将上涨", Annualised: "100.00%"
                    //},
                ],
                indicesMarkets: [
                    //{
                    //    Color: "#31ff88", Market: "EUR", Side: "即将上涨", Annualised: "100.00%"
                    //}, {
                    //    Color: "#bb2244", Market: "JPY", Side: "即将下跌", Annualised: "100.00%"
                    //}, {
                    //    Color: "#22886f", Market: "GBP", Side: "即将上涨", Annualised: "100.00%"
                    //},
                ],
                commodiesMarkets: [
                    //{
                    //    Color: "#31ff88", Market: "黄金", Side: "即将上涨", Annualised: "100.00%"
                    //}, {
                    //    Color: "#bb2244", Market: "白银", Side: "即将下跌", Annualised: "100.00%"
                    //}, {
                    //    Color: "#22886f", Market: "原油", Side: "即将上涨", Annualised: "100.00%"
                    //},
                ],
                stocksCNMarkets: [
                    //{
                    //    Color: "#31ff88", Market: "股票1", Side: "即将上涨", Annualised: "100.00%"
                    //}, {
                    //    Color: "#bb2244", Market: "股票2", Side: "即将下跌", Annualised: "100.00%"
                    //}, {
                    //    Color: "#22886f", Market: "股票3", Side: "即将上涨", Annualised: "100.00%"
                    //},
                ],
                stocksUSMarkets: [
                    //{
                    //    Color: "#31ff88", Market: "StockA", Side: "即将上涨", Annualised: "100.00%"
                    //}, {
                    //    Color: "#bb2244", Market: "StockB", Side: "即将下跌", Annualised: "100.00%"
                    //}, {
                    //    Color: "#22886f", Market: "StockC", Side: "即将上涨", Annualised: "100.00%"
                    //},
                ],
                stocksHKMarkets: [
                    //{
                    //    Color: "#31ff88", Market: "StockD", Side: "即将上涨", Annualised: "100.00%"
                    //}, {
                    //    Color: "#bb2244", Market: "StockE", Side: "即将下跌", Annualised: "100.00%"
                    //}, {
                    //    Color: "#22886f", Market: "StockF", Side: "即将上涨", Annualised: "100.00%"
                    //},
                ]
            },
            mounted() {
                //加密货币
                axios
                    .get('/api/l?name=crypto&maxrows=3')
                    .then(response => {
                        //Donate
                        this.donates = response.data.donate;
                        for (var i = 0; i < 3; i++) {
                            this.donates = this.donates.concat(this.donates)
                        };
                        for (var i = 0; i < this.donates.length; i++) {
                            this.donates[i] = "<span>" + this.donates[i] + "                                         </span>"
                        }
                        console.log(this.donates)
                        //市场列表
                        this.cryptoMarkets = response.data.markets;
                    });
                //外汇
                axios
                    .get('/api/l?name=currencies&maxrows=3')
                    .then(response => {
                        console.log(response.data.markets)
                        //市场列表
                        this.currencyMarkets = response.data.markets
                    });
                //全球股指
                axios
                    .get('/api/l?name=indices&maxrows=3')
                    .then(response => {
                        console.log(response.data.markets)
                        //市场列表
                        this.indicesMarkets = response.data.markets
                    });
                //商品期货
                axios
                    .get('/api/l?name=commodities&maxrows=3')
                    .then(response => {
                        console.log(response.data.markets)
                        //市场列表
                        this.commodiesMarkets = response.data.markets
                    });
                //中国股票
                axios
                    .get('/api/l?name=stocks&maxrows=3')
                    .then(response => {
                        console.log(response.data.markets)
                        //市场列表
                        this.stocksCNMarkets = response.data.markets
                    });
                //美国股票
                axios
                    .get('/api/l?name=stocksUS&maxrows=3')
                    .then(response => {
                        console.log(response.data.markets)
                        //市场列表
                        this.stocksUSMarkets = response.data.markets
                    });
                //香港股票
                axios
                    .get('/api/l?name=stocksHK&maxrows=3')
                    .then(response => {
                        console.log(response.data.markets)
                        //市场列表
                        this.stocksHKMarkets = response.data.markets
                    });
            }
        });
        particleConnector();

    </script>
</body>
</html>
